$def with (user_list_info,page_list_info)



<div class="contentInner">
    <div class="widget">
      <div class="wTitle">
        <h5>服务器列表</h5>
      </div>
      <div class="wContent" align="center">
<table cellpading="0" class="dTable" border="0" cellspacing="0">
  <thead>
    <tr>
      <th>服务器标识</th>
      <th>IP地址1</th>
      <th>IP地址2</th>
      <th>项目</th>
      <th>硬件信息</th>
      <th>IDC</th>
      <th>配置</th>
    </tr>
  </thead>
<tbody align="center">
$if user_list_info:
    $for i in user_list_info:
              <tr>
                <td>$i['hostname']</td>
                <td>$i['ip1']</td>
                <td>$i['ip2']</td>
                <td>$i['project']</td>
                <td>$i['hostconfig']</td>
                <td>$i['idc']</td>
                 <td>
                <a href="/mserver?action=ms&id=$i['id']" class="ctrlButton"><img src="../static/img/icons/14x14/plus.png" alt=""></a>
                <a href="/mserver?action=ds&id=$i['id']" class="ctrlButton"><img src="../static/img/icons/14x14/trash.png" alt=""></a>
                </td>
              </tr>

</tbody>
</table>
</div>
</div>

<div class="pagination">
<ul>

$if page_list_info:
    $for j in page_list_info:
              <li>$:j</li>


</ul>
</div>

<div class="divider"><div><span></span></div></div>

  <div class="row-fluid">
    <div class="span12">
      <div class="widget">
        <div class="wTitle">
          <h5>增加服务器</h5>
        </div>
        <div class="wContent">
          <form novalidate="novalidate" id="validate" action="" method="post">
            <div class="formWizard">
              <div class="row-fluid">
                <div class="span3">
                  <span class="fLabel">服务器标识</span>
                </div>
                <div class="span9">
                  <input name="hostname" type="text">
                </div>
              </div>
            </div>

            <div class="formWizard">
              <div class="row-fluid">
                <div class="span3">
                  <span class="fLabel">IP地址1</span>
                </div>
                <div class="span9">
                  <input name="ip1" type="text">
                </div>
              </div>
            </div>
            <div class="formWizard">
              <div class="row-fluid">
                <div class="span3">
                  <span class="fLabel">IP地址2</span>
                </div>
                <div class="span9">
                  <input name="ip2" type="text">
                </div>
              </div>
            </div>
            <div class="formWizard">
              <div class="row-fluid">
                <div class="span3">
                  <span class="fLabel">项目</span>
                </div>
                <div class="span9">
                  <input name="project" type="text">
                </div>
              </div>
            </div>

            <div class="formWizard">
              <div class="row-fluid">
                <div class="span3">
                  <span class="fLabel">硬件信息</span>
                </div>
                <div class="span9">
                  <input name="hostconfig" type="text">
                </div>
              </div>
            </div>

            <div class="formWizard">
              <div class="row-fluid">
                <div class="span3">
                  <span class="fLabel">IDC</span>
                </div>
                <div class="span9">
                  <input name="idc" type="text">
                </div>
              </div>
            </div>

            <div class="formButtons">
              <div class="row-fluid">
                <div class="span12" align="right">
                  <button type="reset" class="button sButton bMuddy">Cancel</button>
                  <button type="submit" class="button sButton bMuddy">Submit form</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



