$def with (content)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LMOS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../static/css/general.css" rel="stylesheet">
    <link href="../static/css/colors/noise-red.css" rel="stylesheet" id="theme">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <link href="css/ie8.css" rel="stylesheet">
      <script src="../../html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="js/respond/respond.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../static/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="./static/ico/favicon.png">

    <script>
      //* hide all elements & show preloader
      document.documentElement.className += 'loader';
    </script>
  </head>

  <body>

    <div class="loading"><img src="../static/img/ajaxLoader/loader01.gif" alt=""></div>

    <div class="mainContainer">
      <header>
        <div>
          <a href="#" class="logo"><img src="../static/img/logo.png" alt=""></a>
        </div>
      </header>

      <div class="widgetBar">
        <div class="barInner">
          <ul class="navigation">
            <li class="active"><a href="index.html"><i class="icon-white icon-th-large"></i> LMOS</a></li>
            <li><a href="/aserver"><i class="icon-white icon-list"></i> 服务器列表</a></li>
            <li><a href="charts.html"><i class="icon-white icon-signal"></i> 服务器状态</a>
              <ul class="subMenu">
                <li><a href="#"><span>+</span> CPU使用率</a></li>
                <li><a href="#"><span>+</span> 内存使用率</a></li>
                <li><a href="#"><span>+</span> 磁盘使用率</a></li>
                <li><a href="#"><span>+</span> 磁盘IO</a></li>
                <li><a href="#"><span>+</span> 网卡流量</a></li>
              </ul>
            </li>
            <li><a href="#"><i class="icon-white icon-th"></i>  应用状态</a>
              <ul class="subMenu">
                <li><a href="#"><span>+</span> nginx</a></li>
                <li><a href="#"><span>+</span> Tomcat</a></li>
                <li><a href="#"><span>+</span> Mysql</a></li>
                <li><a href="#"><span>+</span> Mongodb</a></li>
                <li><a href="#"><span>+</span> Memcache</a></li>
              </ul>
            </li>
            <li><a href="#"><i class="icon-white icon-leaf"></i> 日志系统</a>
              <ul class="subMenu">
                <li><a href="#"><span>+</span> 系统日志</a></li>
                <li><a href="#"><span>+</span> Nginx日志</a></li>
                <li><a href="#"><span>+</span> Tomcat日志</a></li>
                <li><a href="#"><span>+</span> Mysql日志</a></li>
                <li><a href="#"><span>+</span> Mongodb日志</a></li>
              </ul>
            </li>
            <li><a href="#"><i class="icon-white icon-tasks"></i> 统计系统</a>
              <ul class="subMenu">
                <li><a href="#"><span>+</span> nginx统计</a></li>
                <li><a href="#"><span>+</span> Mysql统计</a></li>
              </ul>
            </li>
            <li><a href="#"><i class="icon-white icon-align-justify"></i> 应用上线</a></li>
          </ul>



          <div class="widgetBarContent">
            <div class="divider"><div><span></span></div></div>
            <div id="date"></div>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="topBar">
          <div class="topBarInner">
            <ul class="breadcrumbs">
              <li><a href="#"><img src="../static/img/icons/14x14/home5.png" alt=""></a></li>
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">LMOS</a>
              </li>
            </ul>

            <ul class="profile barButtons">
              <li class="profile"><a href="#"><img src="../static/img/icons/14x14/member2.png" alt=""> $session['username'] <span class="arrow"></span></a>
                <ul>
                  <li><a href="/muser"><img src="../static/img/icons/14x14/lock3.png" alt=""> User settings</a></li>
                  <li><a href="/logout"><img src="../static/img/icons/14x14/lock3.png" alt=""> Log out</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div class="contentInner">
        $:content
        </div>
      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/jquery-1.8.3.js"></script>
    <script src="../static/js/ui/jquery-ui-1.9.2.custom.js"></script>

    <!-- flot plugin -->
    <script src="../static/js/flot/excanvas.min.js"></script>
    <script src="../static/js/flot/jquery.flot.js"></script>
    <script src="../static/js/flot/jquery.flot.pie.min.js"></script>
    <script src="../static/js/flot/jquery.flot.resize.js"></script>
    <script src="../static/js/flot/jquery.flot.orderBars.js"></script>

    <!-- Jquery form wizard -->
    <script src="../static/js/formWizard/jquery.form.js"></script>
    <script src="../static/js/formWizard/jquery.validate.js"></script>
    <script src="../static/js/formWizard/bbq.js"></script>
    <script src="../static/js/formWizard/jquery.form.wizard.js"></script>

    <!-- antiscroll plugin -->
    <script src="../static/js/scrollbar/jquery.mCustomScrollbar.js"></script>

    <!-- fullcalendar plugin -->
    <script src="../static/js/fullcalendar/fullcalendar.js"></script>

    <!-- tipsyS plugin -->
    <script src="../static/js/tipsy/jquery.tipsy.js"></script>

    <!-- fancybox plugin -->
    <script src="../static/js/fancybox/jquery.fancybox.pack.js"></script>

    <!-- uniform plugin -->
    <script src="../static/js/uniform/jquery.uniform.js"></script>

    <!-- Jquery dataTable -->
    <script src="../static/js/dataTable/jquery.dataTables.js"></script>

    <!-- uniform plugin -->
    <script src="../static/js/sparklines/jquery.sparkline.js"></script>

    <!-- chosen plugin -->
    <script src="../static/js/chosen/chosen.jquery.js"></script>

    <!-- cookie plugin -->
    <script src="../static/js/cookie/jquery.cookie.js"></script>

    <!-- jplayer plugin -->
    <script src="../static/js/jplayer/jquery.jplayer.min.js"></script>

    <!-- mask plugin -->
    <script src="../static/js/mask/jquery.maskedinput-1.3.js"></script>

    <!-- easypiechart plugin -->
    <script src="../static/js/easypiechart/jquery.easy-pie-chart.js"></script>

    <!-- globalize plugin -->
    <script src="../static/js/globalize/globalize.js"></script>
    <script src="../static/js/globalize/cultures/globalize.culture.de.js"></script>

    <!-- jplayer plugin -->
    <script src="../static/js/jplayer/jquery.jplayer.min.js"></script>
    <script src="../static/js/jplayer/jplayer.playlist.min.js"></script>

    <!-- ibutton plugin -->
    <script src="../static/js/ibutton/jquery.ibutton.js"></script>

    <!-- daterangepicker plugin -->
    <script src="../static/js/dateRangepicker/date.js"></script>
    <script src="../static/js/dateRangepicker/daterangepicker.jQuery.js"></script>

    <!-- antiscroll plugin -->
    <script src="../static/js/antiscroll/jquery-mousewheel.js"></script>
    <script src="../static/js/antiscroll/antiscroll.js"></script>

    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/application.js"></script>

    <script src="../static/js/general.js"></script>
    <script src="../static/js/forms.js"></script>
    <script src="../static/js/dashboard.js"></script>

    <script>
      $$(document).ready(function() {
        setTimeout('$$("html").removeClass("loader")',1000);
      });
    </script>

  </body>
</html>
