
          <div class="sWidgets" align="center">
            <div class="sWidget">
              <div class="sparkContainer">
                <span>Unique visitors</span>
                <div class="sparklineBar"></div>
              </div>
              <span><a href="#">5.342 <i>unique visitors</a></i></span>
            </div>
            <div class="sWidget">
              <div class="sparkContainer">
                <span><a href="#">All visitors</a></span>
                <div class="sparklineBar02"></div>
              </div>
              <span>$13.345,32 <i>visitors</i></span>
            </div>
            <div class="sWidget">
              <div class="sparkContainer">
                <span>Registrations</span>
                <div class="sparklineBar03"></div>
              </div>
              <span><a href="#">2.131 <i>users</i></a></span>
            </div>
          </div>

          <div class="divider"><div><span></span></div></div>

          <div class="row-fluid">
            <div class="span7">
              <div class="widget">
                <div class="tabbable">
                  <div class="wTitle">
                    <div class="wIcon">
                      <img src="../static/img/icons/14x14/volume4.png" alt="">
                    </div>
                    <h5>网站状态</h5>
                    <ul class="nav nav-tabs pull-right" id="dashboard-demo">
                      <li class="active"><a data-toggle="tab" data-target="#chart01" href="#chart01">kuai365</a></li>
                      <li><a data-toggle="tab" data-target="#chart02" href="#chart02">69wu</a></li>
                      <li><a data-toggle="tab" data-target="#chart03" href="#chart03">suishoufang</a></li>
                    </ul>
                  </div>

                  <div class="wContent">
                    <div class="wContentInner">
                      <div class="tab-content">
                        <div class="tab-pane active" id="chart01">
                          <div class="analytic">
                            <div class="chart" id="demoCharts01"></div>
                          </div>
                        </div>
                        <div class="tab-pane" id="chart02">
                          <div class="analytic">
                            <div class="chart" id="demoCharts02"></div>
                          </div>
                        </div>

                        <div class="tab-pane" id="chart03">
                          <div class="analytic">
                            <div class="chart" id="demoCharts03"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="span5">
              <div class="widget">
                <div class="wTitle">
                  <div class="wIcon">
                    <img src="../static/img/icons/14x14/share2.png" alt="">
                  </div>
                  <h5>服务器列表</h5>
                </div>

                <div class="wContent">
                  <div class="memberScroll">
                    <div class="memberList">
                      <h5><a href="#">web server</a><br> <span>192.168.1.1</span></h5>
                      <span class="label bOlive">Online</span>
                      <div class="clearfix"></div>
                    </div>
                    <div class="memberList">
                      <h5><a href="#">web server</a><br> <span>192.168.1.1</span></h5>
                      <span class="label bAutumn">Away</span>
                      <div class="clearfix"></div>
                    </div>
                    <div class="memberList">
                      <h5><a href="#">web server</a><br> <span>192.168.1.1</span></h5>
                      <span class="label bMuddy">Offline</span>
                      <div class="clearfix"></div>
                    </div>
                    <div class="memberList">
                      <h5><a href="#">web server</a><br> <span>192.168.1.1</span></h5>
                      <span class="label bMuddy">Offline</span>
                      <div class="clearfix"></div>
                    </div>
                    <div class="memberList">
                      <h5><a href="#">web server</a><br> <span>192.168.1.1</span></h5>
                      <span class="label bOlive">Online</span>
                      <div class="clearfix"></div>
                    </div>
                    <div class="memberList">
                      <h5><a href="#">web server</a><br> <span>192.168.1.1</span></h5>
                      <span class="label bMuddy">Offline</span>
                      <div class="clearfix"></div>
                    </div>
                    <div class="memberList">
                      <h5><a href="#">web server</a><br> <span>192.168.1.1</span></h5>
                      <span class="label bOlive">Online</span>
                      <div class="clearfix"></div>
                    </div>
                    <div class="memberList">
                      <h5><a href="#">web server</a><br> <span>192.168.1.1</span></h5>
                      <span class="label bOlive">Online</span>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span12">
              <div class="widget lastWidget">
                <div class="wTitle">
                  <div class="wIcon">
                    <img src="../static/img/icons/14x14/envlope1.png" alt="">
                  </div>
                  <h5>最新日志</h5>
                </div>
                <div class="wContent noPadding">
                  <div class="chatField">
                    <div class="avatar">
                      system
                    </div>
                    <div class="message">
                      <span class="client"><a href="#">Adam Smith</a>, <i>12 December 2012, 21:43</i></span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                  </div>
                  <div class="chatField">
                    <div class="avatar">
                      system
                    </div>
                    <div class="message">
                      <span><strong>Administrator</strong>, <i>12 December 2012, 21:48</i></span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                    </div>
                  </div>
                  <div class="chatField">
                    <div class="avatar">
                      system
                    </div>
                    <div class="message">
                      <span class="client"><a href="#">Adam Smith</a>, <i>12 December 2012, 22:03</i></span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                  </div>
                  <div class="chatField">
                    <div class="avatar">
                      system
                    </div>
                    <div class="message">
                      <span class="client"><a href="#">Adam Smith</a>, <i>12 December 2012, 22:05</i></span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                  </div>
                  <div class="chatField">
                    <div class="avatar">
                      system
                    </div>
                    <div class="message">
                      <span><strong>Administrator</strong>, <i>12 December 2012, 22:05</i></span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                  </div>
                  <div class="chatField">
                    <div class="avatar">
                      system
                    </div>
                    <div class="message">
                      <span class="client"><a href="#">Adam Smith</a>, <i>12 December 2012, 22:13</i></span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="divider"><div><span></span></div></div>
            </div>
          </div>